<odoo>
    <data>
        <!-- Main Team menu under the Project Management main menu -->
        <menuitem id="menu_team_details" name="Team" sequence="1" parent="project.menu_main_pm" />

        <!-- Submenu: Team Configuration - opens team configuration form view -->
        <menuitem id="menu_team_config" name="Team Configuration" parent="menu_team_details"
                  action="action_team_config" sequence="10" groups="base.group_user" />

        <!-- Submenu: Team Projects - shows filtered project list by team -->
        <menuitem id="menu_team_projects" name="Team Projects" parent="menu_team_details"
                  action="action_custom_project_view" sequence="20" />


        <!-- Default Odoo menu for will only visible to admin -->
         <menuitem id="project.menu_projects" parent="project.menu_main_pm"
                   name="Projects(Admin Only)"
                   groups="base.group_system" sequence="1"/>
    </data>
</odoo>
